{% extends 'base.html' %}

{% block title %}Excluir Produto{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Excluir Produto</h1>
    </div>

    <p>Tem certeza que deseja excluir o produto **"{{ produto.nome }}"**?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sim, Excluir</button>
        <a href="{% url 'detalhar_produto' produto.pk %}" class="btn btn-secondary">Não, Cancelar</a>
    </form>
{% endblock %}
