{% extends 'base.html' %}

{% block title %}Editar Produto{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Editar Produto</h1>
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Salvar Alterações</button>
        {% if user.is_superuser %}
            <a href="{% url 'listar_produtos_admin' %}" class="btn btn-secondary">Voltar para a lista</a>
        {% else %}
            <a href="{% url 'listar_produtos_cliente' %}" class="btn btn-secondary">Voltar para a lista</a>
        {% endif %}
    </form>
{% endblock %}
