{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Login</h1>
    </div>

    {% if form.errors %}
        <p class="alert alert-danger">Nome de usuário ou senha inválidos.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label">Nome de Usuário</label>
            <input type="text" name="username" id="id_username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label">Senha</label>
            <input type="password" name="password" id="id_password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock %}
